<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Monotype - Valentine week Celebration</title>
  <link href="https://fast.fonts.net/cssapi/9b56f948-900f-44c3-87fb-e02a0b40ae5e.css" rel="stylesheet" />
  <link href="/assets/style.css" rel="stylesheet">
</head>

<body>
  <div class="area">
    <ul class="circles">
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001">
          <path
            d="M454.196 247.538l-47.547 134.717c-1.364 3.866.174 8.153 3.667 10.3 4.123 2.535 8.651 4.529 11.804 4.529 14.839 0 29.219-16.965 43.208-33.473 10.377-12.249 22.143-26.127 31.616-29.916 2.583-1.031 7.032-3.928 7.846-11.766 1.532-14.737-16.509-56.263-39.402-77.352-3.632-3.347-9.549-1.697-11.192 2.961z"
            fill="#ffafc3" />
          <g fill="#ffa5b9">
            <path
              d="M115.623 328.322l-7.864-13.102c-15.439-25.731-44.644-39.621-74.329-35.427l-8.201 1.164a8.838 8.838 0 00-6.48 4.462c-11.012 19.876-6.127 37.323-1.816 52.716 3.259 11.641 6.079 21.695 2.216 31.935a8.946 8.946 0 00.78 7.834c3.005 4.824 42.346 32.982 83.503 36.931a8.828 8.828 0 007.903-3.492c18.256-24.343 19.938-56.929 4.288-83.021zM211.12 28.851C184.5 7.296 138.434 9.873 132.911 11.754c-2.872.983-5.127 3.424-5.824 6.376-1.961 8.303-8.118 17.711-14.068 26.808-10.093 15.43-20.527 31.383-16.633 48.688a8.83 8.83 0 009.006 6.885l22.021-.983c38.044-1.7 71.694-25.192 86.401-60.319 1.533-3.66.389-7.861-2.694-10.358zM496.693 194.789c-14.072-57.751-79.049-81.08-81.808-82.046-4.6-1.599-9.632.81-11.248 5.415-.699 1.992-17.008 49.374-7.808 95.363 9.106 45.528 41.152 89.845 42.511 91.712a8.836 8.836 0 008.934 3.441 8.837 8.837 0 006.821-6.722c2.255-10.106 16.789-42.674 27.403-66.456 16.238-36.403 16.161-36.727 15.195-40.707z" />
          </g>
          <g fill="#ff9baf">
            <path
              d="M139.749 82.685a8.834 8.834 0 00-6.644-3.587c-37.788-2.069-104.106 60.213-111.544 67.313a8.809 8.809 0 00-2.25 3.519c-1.121 3.268-27.109 80.554.392 132.649 10.899 20.652 28.606 34.478 52.621 41.096a8.829 8.829 0 0010.899-6.328L141.19 90.098a8.829 8.829 0 00-1.441-7.413zM373.392 64.637c-40.191-23.178-55.729-57.829-55.871-58.156a8.842 8.842 0 00-6.64-5.204c-.88-.151-89-14.158-118.532 54.354a8.83 8.83 0 003.467 11.007l210.913 130.406a8.837 8.837 0 007.334.901 8.83 8.83 0 005.45-4.992c13.294-31.662 12.527-94.501-46.121-128.316zM399.696 397.244a8.829 8.829 0 00-8.282-8.303l-277.822-16.857c-3.562-.194-6.993 1.78-8.528 5.066-4.881 10.404-7.502 27.843-.22 45.58 9.313 22.691 31.848 40.772 66.986 53.738 17.879 6.597 30.516 12.86 41.665 18.383 13.853 6.864 25.813 12.792 41.527 15.866a69.987 69.987 0 0013.417 1.285c21.359 0 43.963-9.42 64.934-27.308 4.143-3.535 10.106-7.014 16.413-10.696 22.188-12.954 52.57-30.687 49.91-76.754z" />
          </g>
          <path
            d="M442.697 267.967c-4.6-13.977-9.36-28.429-11.201-42.726-3.207-24.942-12.998-43.597-29.102-55.457-24.544-18.091-54.521-13.098-55.785-12.874a8.83 8.83 0 00-6.541 5.091L222.57 424.789a8.827 8.827 0 002.035 10.054c14.943 13.969 35.823 23.92 57.449 23.92 15.658 0 31.719-5.225 46.184-17.927 17.504-15.366 34.59-23.398 51.116-31.167 27.627-12.991 53.72-25.256 70.655-68.016 9.257-23.372 1.208-47.814-7.312-73.686z"
            fill="#ff91a5" />
          <path
            d="M351.507 123.493c-8.83-17.659-17.659-26.489-50.585-36.979-19-6.053-41.454-9.549-64.364-23.031-43.373-25.528-77.928-8.071-94.666 4.6-28.459 21.54-46.076 60.127-39.277 86.012a8.833 8.833 0 008.269 6.584l228.684 7.002c.09.004.181.004.272.004a8.812 8.812 0 004.591-1.289c8.572-5.218 17.108-22.84 7.076-42.903z"
            fill="#ff879b" />
          <path
            d="M259.171 400.469l-94.609-256.29a8.826 8.826 0 00-3.191-4.157c-13.219-9.334-32.473-7.601-52.832 4.747-36.543 22.165-73.462 65.253-66.072 119.999 3.424 25.347 14.827 38.467 25.856 51.151 7.33 8.429 18.702 25.139 24.734 38.234 22.147 48.089 58.984 80.77 96.136 85.292 2.983.366 5.937.543 8.864.543 22.669 0 43.622-10.779 59.73-30.951a8.826 8.826 0 001.384-8.568z"
            fill="#ff7d91" />
          <path
            d="M347.717 157.333c-18.919-17.931-39.393-24.023-57.639-17.168a8.826 8.826 0 00-3.121 2.004l-144.85 144a8.903 8.903 0 00-1.638 2.242c-7.385 14.461-5.829 39.238 3.867 61.661 7.239 16.741 25.403 46.567 65.723 58.26 9.597 2.781 19.566 4.1 29.684 4.1 60.356 0 125.751-46.977 145.699-110.349 17.176-54.544-6.618-115.291-37.725-144.75z"
            fill="#ff7387" />
          <path
            d="M256.07 121.928c-35.862-13.697-77.321-6.342-105.638 18.694-19.643 17.361-48.577 57.415-47.788 96.605.396 19.543 8.532 36.332 23.536 48.55 18.725 15.253 37.509 20.152 53.919 20.152 21.867-.004 39.523-8.705 47.201-13.202a8.775 8.775 0 002.548-1.816l82.55-84.434a8.834 8.834 0 002.458-7.213c-4.324-36.542-25.751-64.73-58.786-77.336z"
            fill="#ff6478" />
          <path
            d="M313.028 194.85c-16.422-20.902-40.772-34.206-66.805-36.504-21.04-1.866-40.863 4.001-54.38 16.06-24.506 21.876-33.478 48.783-24.614 73.829 4.535 12.826 13.559 23.799 24.368 30.732-14.587 1.979-22.939 17.892-16.049 30.901 9.755 18.419 25.927 34.661 46.406 38.521a81.9 81.9 0 0015.185 1.427c26.467 0 59.437-7.984 79.049-32.068 22.98-28.22 36.716-72.157-3.16-122.898z"
            fill="#ff5064" />
          <path
            d="M267.556 261.817c-5.239-.377-18.004 11.504-32.7-4.001-7.581-7.999-8.956-20.564-4.149-30.482a27.114 27.114 0 014.244-6.34c3.161-3.512.621-8.972-4.075-8.451-12.464 1.383-24.289 8.45-31.238 20.861-7.961 14.219-6.491 32.475 3.771 45.134 17.015 20.989 47.721 20.159 63.808.407a36.523 36.523 0 004.228-6.53c2.046-4.024 2.465-10.14-3.889-10.598z"
            fill="#d24150" />
        </svg>
      </li>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.999 511.999">
          <path
            d="M475.567 117.75a8.853 8.853 0 00-1.603-3.776c-1.444-1.953-15.163-18.99-59.725-26.782l-27.283-25.748c-13.064-36.07-42.523-55.63-43.794-56.462a8.74 8.74 0 00-1.716-.866c-1.668-.633-40.717-14.848-77.81 13.53L96.682 61.732c-39.036 4.685-65.987 32.459-67.12 33.644a8.758 8.758 0 00-1.586 2.297c-.746 1.556-17.719 38.066 1.746 79.633l-2.56 101.942c-13.218 29.658-18.649 65.405-18.878 66.94a8.872 8.872 0 00.995 5.556c2.858 5.194 28.407 49.889 62.255 51.82l149.839 76.762c29.076 22.326 62.047 31.032 63.448 31.394.724.185 1.465.28 2.211.28.517 0 1.031-.043 1.543-.138 10.918-1.935 35.433-19.52 54.014-51.199l26.873-21.762c35.498 1.927 66.207-8.486 67.543-8.943a8.753 8.753 0 003.211-1.949c8.84-8.391 20.24-36.321 18.158-72.348l20.434-162.726c3.219-36.196-2.979-73.613-3.241-75.185z"
            fill="#f4d2f7" />
          <path
            d="M429.203 132.253L331.14 48.577C271.275 1.943 163.058 7.262 158.467 7.499a8.838 8.838 0 00-4.345 1.422c-3.706 2.417-90.904 60.086-99.204 134.107l-8.185 165.635c0 .073-.004.142-.004.215-1.875 74.943 66.922 153.606 69.854 156.921a8.845 8.845 0 004.022 2.591c2.483.762 38.643 11.624 80.96 11.624 28.17 0 59.078-4.818 84.568-20.641l103.385-46.76c68.909-29.524 111.746-124.845 113.539-128.887a8.876 8.876 0 00.707-4.504c-.457-4.297-11.862-105.437-74.561-146.969z"
            fill="#f0b8e5" />
          <g fill="#eda0d3">
            <path
              d="M404.558 300.823c-1.444.065-36.136 1.94-99.799 29.861-63.263 27.752-120.591 74.236-123.001 76.202a8.823 8.823 0 00-2.469 10.473c17.227 38.144 89.783 44.277 134.659 44.277 17.491 0 30.782-.936 34.942-1.263a8.825 8.825 0 005.758-2.784c3.694-3.966 90.063-97.701 57.927-152.417-1.659-2.823-4.624-4.392-8.017-4.349zM143.274 93.402C76.511 88.653 12.072 200.395 9.352 205.153a8.84 8.84 0 00-1.008 6.034c1.013 5.318 25.524 130.405 88.654 136.848a8.832 8.832 0 008.004-3.543c1.022-1.392 25.249-34.778 37.627-96.674 12.207-61.027 8.995-142.538 8.852-145.978a8.825 8.825 0 00-8.207-8.438zM403.205 68.784a8.83 8.83 0 00-4.802-4.03c-12.538-4.37-123.241-41.311-152.313 5.84a8.84 8.84 0 00-1.276 5.448c.125 1.388 3.719 34.528 54.014 83.676 49.937 48.802 117.466 60.905 120.315 61.397a8.831 8.831 0 009.163-4.319c28.813-50.42-22.89-144.051-25.101-148.012z" />
          </g>
          <g fill="#e985c0">
            <path
              d="M198.098 54.892a9.007 9.007 0 00-5.926 1.212c-9.677 5.953-93.825 59.474-69.44 106.225a8.836 8.836 0 005.883 4.529c5.499 1.241 40.346 8.818 71.78 8.818 14.965 0 29.162-1.72 39.036-6.654 28.986-14.495 65.077-40.364 66.599-41.458a8.825 8.825 0 003.655-6.53c3.448-47.592-99.803-64.383-111.587-66.142zM181.655 289.859c-61.28-26.873-79.947-19.701-85.141-15.379a8.758 8.758 0 00-1.492 1.603c-21.878 30.235 11.081 114.867 17.908 131.526a8.83 8.83 0 006.525 5.323c13.955 2.646 43.807 7.586 71.835 7.586 28.446 0 55.018-5.09 61.156-22.83a8.796 8.796 0 00.479-3.285c-.136-3.051-4.124-75.094-71.27-104.544zM441.677 249.943c-3.414-9.741-34.778-95.295-83.085-100.472a8.883 8.883 0 00-8.556 4.31c-1.728 2.948-42.191 72.719-30.447 120.876 11.094 45.489 20.154 66.103 20.537 66.957a8.82 8.82 0 006.508 5.103 51.41 51.41 0 009.06.814c53.979 0 84.662-87.874 86.007-91.813a8.776 8.776 0 00-.024-5.775z" />
          </g>
          <g fill="#e168a9">
            <path
              d="M223.885 164.346c-6.374-15.477-16.856-24.951-31.157-28.161-44.251-9.969-108.264 46.876-115.415 53.38a8.828 8.828 0 00-2.824 7.577c1.332 11.129 14.305 109.277 59.117 128.78 5.266 2.293 10.681 3.435 16.232 3.435 10.633 0 21.757-4.203 33.239-12.585a8.838 8.838 0 003.323-4.853l37.851-141.935a8.835 8.835 0 00-.366-5.638z" />
            <path
              d="M367.371 285.049c-3.966-15.266-15.999-25.769-35.756-31.227a8.845 8.845 0 00-5.629.31l-141.93 56.772a8.845 8.845 0 00-5.008 5.159c-7.211 19.684-5.75 36.778 4.345 50.811 24.887 34.593 96.166 36.791 113.846 36.791 2.138 0 3.491-.03 3.887-.043a8.828 8.828 0 005.953-2.539c7.37-7.261 71.68-72.253 60.292-116.034z" />
            <path
              d="M356.656 136.822a8.815 8.815 0 00-5.302-5.741c-8.219-3.155-81.383-30.101-116.777-4.956-12.667 9.004-18.8 23.085-18.219 41.855a8.827 8.827 0 003.233 6.56l104.084 85.158a8.82 8.82 0 007.241 1.84c11.305-2.155 20.115-8.289 26.18-18.231 20.662-33.879.431-103.537-.44-106.485z" />
          </g>
          <path
            d="M329.226 252.839c0 45.547-35.661 82.709-80.59 85.092 19.331-10.063 38.751-31.424 40.957-56.14 1.677-18.095-5.914-38.044-29.747-56.669-4.502-3.531-7.856-7.238-10.239-11.034-12.27-18.801-.883-39.28 15.271-43.782 36.984 9.268 64.348 42.723 64.348 82.533z"
            fill="#d25397" />
          <path
            d="M249.607 214.088c-15.182 22.421-50.226 2.913-57.817 60.288-14.123-9.798-24.627-24.539-29.747-44.223 9.886-35.926 42.899-62.407 82.091-62.407 7.15 0 14.123.883 20.743 2.56-16.153 4.502-27.54 24.981-15.27 43.782z"
            fill="#d75a9d" />
          <path
            d="M289.593 281.791c-2.207 24.716-21.626 46.077-40.957 56.14h-.088c-1.501.088-2.913.088-4.413.088-47.048 0-85.181-38.133-85.181-85.181 0-7.856 1.059-15.447 3.089-22.685 5.12 19.684 15.624 34.425 29.747 44.223 24.715 17.301 60.465 19.508 97.803 7.415z"
            fill="#dc60a3" />
          <path
            d="M289.593 281.791c-37.338 12.093-73.088 9.886-97.803-7.415 7.591-57.375 42.634-37.868 57.817-60.288 2.383 3.796 5.738 7.503 10.239 11.034 23.833 18.625 31.424 38.574 29.747 56.669z"
            fill="#c9478d" />
        </svg>
      </li>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001">
          <path
            d="M454.196 247.538l-47.547 134.717c-1.364 3.866.174 8.153 3.667 10.3 4.123 2.535 8.651 4.529 11.804 4.529 14.839 0 29.219-16.965 43.208-33.473 10.377-12.249 22.143-26.127 31.616-29.916 2.583-1.031 7.032-3.928 7.846-11.766 1.532-14.737-16.509-56.263-39.402-77.352-3.632-3.347-9.549-1.697-11.192 2.961z"
            fill="#ffafc3" />
          <g fill="#ffa5b9">
            <path
              d="M115.623 328.322l-7.864-13.102c-15.439-25.731-44.644-39.621-74.329-35.427l-8.201 1.164a8.838 8.838 0 00-6.48 4.462c-11.012 19.876-6.127 37.323-1.816 52.716 3.259 11.641 6.079 21.695 2.216 31.935a8.946 8.946 0 00.78 7.834c3.005 4.824 42.346 32.982 83.503 36.931a8.828 8.828 0 007.903-3.492c18.256-24.343 19.938-56.929 4.288-83.021zM211.12 28.851C184.5 7.296 138.434 9.873 132.911 11.754c-2.872.983-5.127 3.424-5.824 6.376-1.961 8.303-8.118 17.711-14.068 26.808-10.093 15.43-20.527 31.383-16.633 48.688a8.83 8.83 0 009.006 6.885l22.021-.983c38.044-1.7 71.694-25.192 86.401-60.319 1.533-3.66.389-7.861-2.694-10.358zM496.693 194.789c-14.072-57.751-79.049-81.08-81.808-82.046-4.6-1.599-9.632.81-11.248 5.415-.699 1.992-17.008 49.374-7.808 95.363 9.106 45.528 41.152 89.845 42.511 91.712a8.836 8.836 0 008.934 3.441 8.837 8.837 0 006.821-6.722c2.255-10.106 16.789-42.674 27.403-66.456 16.238-36.403 16.161-36.727 15.195-40.707z" />
          </g>
          <g fill="#ff9baf">
            <path
              d="M139.749 82.685a8.834 8.834 0 00-6.644-3.587c-37.788-2.069-104.106 60.213-111.544 67.313a8.809 8.809 0 00-2.25 3.519c-1.121 3.268-27.109 80.554.392 132.649 10.899 20.652 28.606 34.478 52.621 41.096a8.829 8.829 0 0010.899-6.328L141.19 90.098a8.829 8.829 0 00-1.441-7.413zM373.392 64.637c-40.191-23.178-55.729-57.829-55.871-58.156a8.842 8.842 0 00-6.64-5.204c-.88-.151-89-14.158-118.532 54.354a8.83 8.83 0 003.467 11.007l210.913 130.406a8.837 8.837 0 007.334.901 8.83 8.83 0 005.45-4.992c13.294-31.662 12.527-94.501-46.121-128.316zM399.696 397.244a8.829 8.829 0 00-8.282-8.303l-277.822-16.857c-3.562-.194-6.993 1.78-8.528 5.066-4.881 10.404-7.502 27.843-.22 45.58 9.313 22.691 31.848 40.772 66.986 53.738 17.879 6.597 30.516 12.86 41.665 18.383 13.853 6.864 25.813 12.792 41.527 15.866a69.987 69.987 0 0013.417 1.285c21.359 0 43.963-9.42 64.934-27.308 4.143-3.535 10.106-7.014 16.413-10.696 22.188-12.954 52.57-30.687 49.91-76.754z" />
          </g>
          <path
            d="M442.697 267.967c-4.6-13.977-9.36-28.429-11.201-42.726-3.207-24.942-12.998-43.597-29.102-55.457-24.544-18.091-54.521-13.098-55.785-12.874a8.83 8.83 0 00-6.541 5.091L222.57 424.789a8.827 8.827 0 002.035 10.054c14.943 13.969 35.823 23.92 57.449 23.92 15.658 0 31.719-5.225 46.184-17.927 17.504-15.366 34.59-23.398 51.116-31.167 27.627-12.991 53.72-25.256 70.655-68.016 9.257-23.372 1.208-47.814-7.312-73.686z"
            fill="#ff91a5" />
          <path
            d="M351.507 123.493c-8.83-17.659-17.659-26.489-50.585-36.979-19-6.053-41.454-9.549-64.364-23.031-43.373-25.528-77.928-8.071-94.666 4.6-28.459 21.54-46.076 60.127-39.277 86.012a8.833 8.833 0 008.269 6.584l228.684 7.002c.09.004.181.004.272.004a8.812 8.812 0 004.591-1.289c8.572-5.218 17.108-22.84 7.076-42.903z"
            fill="#ff879b" />
          <path
            d="M259.171 400.469l-94.609-256.29a8.826 8.826 0 00-3.191-4.157c-13.219-9.334-32.473-7.601-52.832 4.747-36.543 22.165-73.462 65.253-66.072 119.999 3.424 25.347 14.827 38.467 25.856 51.151 7.33 8.429 18.702 25.139 24.734 38.234 22.147 48.089 58.984 80.77 96.136 85.292 2.983.366 5.937.543 8.864.543 22.669 0 43.622-10.779 59.73-30.951a8.826 8.826 0 001.384-8.568z"
            fill="#ff7d91" />
          <path
            d="M347.717 157.333c-18.919-17.931-39.393-24.023-57.639-17.168a8.826 8.826 0 00-3.121 2.004l-144.85 144a8.903 8.903 0 00-1.638 2.242c-7.385 14.461-5.829 39.238 3.867 61.661 7.239 16.741 25.403 46.567 65.723 58.26 9.597 2.781 19.566 4.1 29.684 4.1 60.356 0 125.751-46.977 145.699-110.349 17.176-54.544-6.618-115.291-37.725-144.75z"
            fill="#ff7387" />
          <path
            d="M256.07 121.928c-35.862-13.697-77.321-6.342-105.638 18.694-19.643 17.361-48.577 57.415-47.788 96.605.396 19.543 8.532 36.332 23.536 48.55 18.725 15.253 37.509 20.152 53.919 20.152 21.867-.004 39.523-8.705 47.201-13.202a8.775 8.775 0 002.548-1.816l82.55-84.434a8.834 8.834 0 002.458-7.213c-4.324-36.542-25.751-64.73-58.786-77.336z"
            fill="#ff6478" />
          <path
            d="M313.028 194.85c-16.422-20.902-40.772-34.206-66.805-36.504-21.04-1.866-40.863 4.001-54.38 16.06-24.506 21.876-33.478 48.783-24.614 73.829 4.535 12.826 13.559 23.799 24.368 30.732-14.587 1.979-22.939 17.892-16.049 30.901 9.755 18.419 25.927 34.661 46.406 38.521a81.9 81.9 0 0015.185 1.427c26.467 0 59.437-7.984 79.049-32.068 22.98-28.22 36.716-72.157-3.16-122.898z"
            fill="#ff5064" />
          <path
            d="M267.556 261.817c-5.239-.377-18.004 11.504-32.7-4.001-7.581-7.999-8.956-20.564-4.149-30.482a27.114 27.114 0 014.244-6.34c3.161-3.512.621-8.972-4.075-8.451-12.464 1.383-24.289 8.45-31.238 20.861-7.961 14.219-6.491 32.475 3.771 45.134 17.015 20.989 47.721 20.159 63.808.407a36.523 36.523 0 004.228-6.53c2.046-4.024 2.465-10.14-3.889-10.598z"
            fill="#d24150" />
        </svg>
      </li>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.999 511.999">
          <path
            d="M475.567 117.75a8.853 8.853 0 00-1.603-3.776c-1.444-1.953-15.163-18.99-59.725-26.782l-27.283-25.748c-13.064-36.07-42.523-55.63-43.794-56.462a8.74 8.74 0 00-1.716-.866c-1.668-.633-40.717-14.848-77.81 13.53L96.682 61.732c-39.036 4.685-65.987 32.459-67.12 33.644a8.758 8.758 0 00-1.586 2.297c-.746 1.556-17.719 38.066 1.746 79.633l-2.56 101.942c-13.218 29.658-18.649 65.405-18.878 66.94a8.872 8.872 0 00.995 5.556c2.858 5.194 28.407 49.889 62.255 51.82l149.839 76.762c29.076 22.326 62.047 31.032 63.448 31.394.724.185 1.465.28 2.211.28.517 0 1.031-.043 1.543-.138 10.918-1.935 35.433-19.52 54.014-51.199l26.873-21.762c35.498 1.927 66.207-8.486 67.543-8.943a8.753 8.753 0 003.211-1.949c8.84-8.391 20.24-36.321 18.158-72.348l20.434-162.726c3.219-36.196-2.979-73.613-3.241-75.185z"
            fill="#f4d2f7" />
          <path
            d="M429.203 132.253L331.14 48.577C271.275 1.943 163.058 7.262 158.467 7.499a8.838 8.838 0 00-4.345 1.422c-3.706 2.417-90.904 60.086-99.204 134.107l-8.185 165.635c0 .073-.004.142-.004.215-1.875 74.943 66.922 153.606 69.854 156.921a8.845 8.845 0 004.022 2.591c2.483.762 38.643 11.624 80.96 11.624 28.17 0 59.078-4.818 84.568-20.641l103.385-46.76c68.909-29.524 111.746-124.845 113.539-128.887a8.876 8.876 0 00.707-4.504c-.457-4.297-11.862-105.437-74.561-146.969z"
            fill="#f0b8e5" />
          <g fill="#eda0d3">
            <path
              d="M404.558 300.823c-1.444.065-36.136 1.94-99.799 29.861-63.263 27.752-120.591 74.236-123.001 76.202a8.823 8.823 0 00-2.469 10.473c17.227 38.144 89.783 44.277 134.659 44.277 17.491 0 30.782-.936 34.942-1.263a8.825 8.825 0 005.758-2.784c3.694-3.966 90.063-97.701 57.927-152.417-1.659-2.823-4.624-4.392-8.017-4.349zM143.274 93.402C76.511 88.653 12.072 200.395 9.352 205.153a8.84 8.84 0 00-1.008 6.034c1.013 5.318 25.524 130.405 88.654 136.848a8.832 8.832 0 008.004-3.543c1.022-1.392 25.249-34.778 37.627-96.674 12.207-61.027 8.995-142.538 8.852-145.978a8.825 8.825 0 00-8.207-8.438zM403.205 68.784a8.83 8.83 0 00-4.802-4.03c-12.538-4.37-123.241-41.311-152.313 5.84a8.84 8.84 0 00-1.276 5.448c.125 1.388 3.719 34.528 54.014 83.676 49.937 48.802 117.466 60.905 120.315 61.397a8.831 8.831 0 009.163-4.319c28.813-50.42-22.89-144.051-25.101-148.012z" />
          </g>
          <g fill="#e985c0">
            <path
              d="M198.098 54.892a9.007 9.007 0 00-5.926 1.212c-9.677 5.953-93.825 59.474-69.44 106.225a8.836 8.836 0 005.883 4.529c5.499 1.241 40.346 8.818 71.78 8.818 14.965 0 29.162-1.72 39.036-6.654 28.986-14.495 65.077-40.364 66.599-41.458a8.825 8.825 0 003.655-6.53c3.448-47.592-99.803-64.383-111.587-66.142zM181.655 289.859c-61.28-26.873-79.947-19.701-85.141-15.379a8.758 8.758 0 00-1.492 1.603c-21.878 30.235 11.081 114.867 17.908 131.526a8.83 8.83 0 006.525 5.323c13.955 2.646 43.807 7.586 71.835 7.586 28.446 0 55.018-5.09 61.156-22.83a8.796 8.796 0 00.479-3.285c-.136-3.051-4.124-75.094-71.27-104.544zM441.677 249.943c-3.414-9.741-34.778-95.295-83.085-100.472a8.883 8.883 0 00-8.556 4.31c-1.728 2.948-42.191 72.719-30.447 120.876 11.094 45.489 20.154 66.103 20.537 66.957a8.82 8.82 0 006.508 5.103 51.41 51.41 0 009.06.814c53.979 0 84.662-87.874 86.007-91.813a8.776 8.776 0 00-.024-5.775z" />
          </g>
          <g fill="#e168a9">
            <path
              d="M223.885 164.346c-6.374-15.477-16.856-24.951-31.157-28.161-44.251-9.969-108.264 46.876-115.415 53.38a8.828 8.828 0 00-2.824 7.577c1.332 11.129 14.305 109.277 59.117 128.78 5.266 2.293 10.681 3.435 16.232 3.435 10.633 0 21.757-4.203 33.239-12.585a8.838 8.838 0 003.323-4.853l37.851-141.935a8.835 8.835 0 00-.366-5.638z" />
            <path
              d="M367.371 285.049c-3.966-15.266-15.999-25.769-35.756-31.227a8.845 8.845 0 00-5.629.31l-141.93 56.772a8.845 8.845 0 00-5.008 5.159c-7.211 19.684-5.75 36.778 4.345 50.811 24.887 34.593 96.166 36.791 113.846 36.791 2.138 0 3.491-.03 3.887-.043a8.828 8.828 0 005.953-2.539c7.37-7.261 71.68-72.253 60.292-116.034z" />
            <path
              d="M356.656 136.822a8.815 8.815 0 00-5.302-5.741c-8.219-3.155-81.383-30.101-116.777-4.956-12.667 9.004-18.8 23.085-18.219 41.855a8.827 8.827 0 003.233 6.56l104.084 85.158a8.82 8.82 0 007.241 1.84c11.305-2.155 20.115-8.289 26.18-18.231 20.662-33.879.431-103.537-.44-106.485z" />
          </g>
          <path
            d="M329.226 252.839c0 45.547-35.661 82.709-80.59 85.092 19.331-10.063 38.751-31.424 40.957-56.14 1.677-18.095-5.914-38.044-29.747-56.669-4.502-3.531-7.856-7.238-10.239-11.034-12.27-18.801-.883-39.28 15.271-43.782 36.984 9.268 64.348 42.723 64.348 82.533z"
            fill="#d25397" />
          <path
            d="M249.607 214.088c-15.182 22.421-50.226 2.913-57.817 60.288-14.123-9.798-24.627-24.539-29.747-44.223 9.886-35.926 42.899-62.407 82.091-62.407 7.15 0 14.123.883 20.743 2.56-16.153 4.502-27.54 24.981-15.27 43.782z"
            fill="#d75a9d" />
          <path
            d="M289.593 281.791c-2.207 24.716-21.626 46.077-40.957 56.14h-.088c-1.501.088-2.913.088-4.413.088-47.048 0-85.181-38.133-85.181-85.181 0-7.856 1.059-15.447 3.089-22.685 5.12 19.684 15.624 34.425 29.747 44.223 24.715 17.301 60.465 19.508 97.803 7.415z"
            fill="#dc60a3" />
          <path
            d="M289.593 281.791c-37.338 12.093-73.088 9.886-97.803-7.415 7.591-57.375 42.634-37.868 57.817-60.288 2.383 3.796 5.738 7.503 10.239 11.034 23.833 18.625 31.424 38.574 29.747 56.669z"
            fill="#c9478d" />
        </svg>
      </li>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001">
          <path
            d="M454.196 247.538l-47.547 134.717c-1.364 3.866.174 8.153 3.667 10.3 4.123 2.535 8.651 4.529 11.804 4.529 14.839 0 29.219-16.965 43.208-33.473 10.377-12.249 22.143-26.127 31.616-29.916 2.583-1.031 7.032-3.928 7.846-11.766 1.532-14.737-16.509-56.263-39.402-77.352-3.632-3.347-9.549-1.697-11.192 2.961z"
            fill="#ffafc3" />
          <g fill="#ffa5b9">
            <path
              d="M115.623 328.322l-7.864-13.102c-15.439-25.731-44.644-39.621-74.329-35.427l-8.201 1.164a8.838 8.838 0 00-6.48 4.462c-11.012 19.876-6.127 37.323-1.816 52.716 3.259 11.641 6.079 21.695 2.216 31.935a8.946 8.946 0 00.78 7.834c3.005 4.824 42.346 32.982 83.503 36.931a8.828 8.828 0 007.903-3.492c18.256-24.343 19.938-56.929 4.288-83.021zM211.12 28.851C184.5 7.296 138.434 9.873 132.911 11.754c-2.872.983-5.127 3.424-5.824 6.376-1.961 8.303-8.118 17.711-14.068 26.808-10.093 15.43-20.527 31.383-16.633 48.688a8.83 8.83 0 009.006 6.885l22.021-.983c38.044-1.7 71.694-25.192 86.401-60.319 1.533-3.66.389-7.861-2.694-10.358zM496.693 194.789c-14.072-57.751-79.049-81.08-81.808-82.046-4.6-1.599-9.632.81-11.248 5.415-.699 1.992-17.008 49.374-7.808 95.363 9.106 45.528 41.152 89.845 42.511 91.712a8.836 8.836 0 008.934 3.441 8.837 8.837 0 006.821-6.722c2.255-10.106 16.789-42.674 27.403-66.456 16.238-36.403 16.161-36.727 15.195-40.707z" />
          </g>
          <g fill="#ff9baf">
            <path
              d="M139.749 82.685a8.834 8.834 0 00-6.644-3.587c-37.788-2.069-104.106 60.213-111.544 67.313a8.809 8.809 0 00-2.25 3.519c-1.121 3.268-27.109 80.554.392 132.649 10.899 20.652 28.606 34.478 52.621 41.096a8.829 8.829 0 0010.899-6.328L141.19 90.098a8.829 8.829 0 00-1.441-7.413zM373.392 64.637c-40.191-23.178-55.729-57.829-55.871-58.156a8.842 8.842 0 00-6.64-5.204c-.88-.151-89-14.158-118.532 54.354a8.83 8.83 0 003.467 11.007l210.913 130.406a8.837 8.837 0 007.334.901 8.83 8.83 0 005.45-4.992c13.294-31.662 12.527-94.501-46.121-128.316zM399.696 397.244a8.829 8.829 0 00-8.282-8.303l-277.822-16.857c-3.562-.194-6.993 1.78-8.528 5.066-4.881 10.404-7.502 27.843-.22 45.58 9.313 22.691 31.848 40.772 66.986 53.738 17.879 6.597 30.516 12.86 41.665 18.383 13.853 6.864 25.813 12.792 41.527 15.866a69.987 69.987 0 0013.417 1.285c21.359 0 43.963-9.42 64.934-27.308 4.143-3.535 10.106-7.014 16.413-10.696 22.188-12.954 52.57-30.687 49.91-76.754z" />
          </g>
          <path
            d="M442.697 267.967c-4.6-13.977-9.36-28.429-11.201-42.726-3.207-24.942-12.998-43.597-29.102-55.457-24.544-18.091-54.521-13.098-55.785-12.874a8.83 8.83 0 00-6.541 5.091L222.57 424.789a8.827 8.827 0 002.035 10.054c14.943 13.969 35.823 23.92 57.449 23.92 15.658 0 31.719-5.225 46.184-17.927 17.504-15.366 34.59-23.398 51.116-31.167 27.627-12.991 53.72-25.256 70.655-68.016 9.257-23.372 1.208-47.814-7.312-73.686z"
            fill="#ff91a5" />
          <path
            d="M351.507 123.493c-8.83-17.659-17.659-26.489-50.585-36.979-19-6.053-41.454-9.549-64.364-23.031-43.373-25.528-77.928-8.071-94.666 4.6-28.459 21.54-46.076 60.127-39.277 86.012a8.833 8.833 0 008.269 6.584l228.684 7.002c.09.004.181.004.272.004a8.812 8.812 0 004.591-1.289c8.572-5.218 17.108-22.84 7.076-42.903z"
            fill="#ff879b" />
          <path
            d="M259.171 400.469l-94.609-256.29a8.826 8.826 0 00-3.191-4.157c-13.219-9.334-32.473-7.601-52.832 4.747-36.543 22.165-73.462 65.253-66.072 119.999 3.424 25.347 14.827 38.467 25.856 51.151 7.33 8.429 18.702 25.139 24.734 38.234 22.147 48.089 58.984 80.77 96.136 85.292 2.983.366 5.937.543 8.864.543 22.669 0 43.622-10.779 59.73-30.951a8.826 8.826 0 001.384-8.568z"
            fill="#ff7d91" />
          <path
            d="M347.717 157.333c-18.919-17.931-39.393-24.023-57.639-17.168a8.826 8.826 0 00-3.121 2.004l-144.85 144a8.903 8.903 0 00-1.638 2.242c-7.385 14.461-5.829 39.238 3.867 61.661 7.239 16.741 25.403 46.567 65.723 58.26 9.597 2.781 19.566 4.1 29.684 4.1 60.356 0 125.751-46.977 145.699-110.349 17.176-54.544-6.618-115.291-37.725-144.75z"
            fill="#ff7387" />
          <path
            d="M256.07 121.928c-35.862-13.697-77.321-6.342-105.638 18.694-19.643 17.361-48.577 57.415-47.788 96.605.396 19.543 8.532 36.332 23.536 48.55 18.725 15.253 37.509 20.152 53.919 20.152 21.867-.004 39.523-8.705 47.201-13.202a8.775 8.775 0 002.548-1.816l82.55-84.434a8.834 8.834 0 002.458-7.213c-4.324-36.542-25.751-64.73-58.786-77.336z"
            fill="#ff6478" />
          <path
            d="M313.028 194.85c-16.422-20.902-40.772-34.206-66.805-36.504-21.04-1.866-40.863 4.001-54.38 16.06-24.506 21.876-33.478 48.783-24.614 73.829 4.535 12.826 13.559 23.799 24.368 30.732-14.587 1.979-22.939 17.892-16.049 30.901 9.755 18.419 25.927 34.661 46.406 38.521a81.9 81.9 0 0015.185 1.427c26.467 0 59.437-7.984 79.049-32.068 22.98-28.22 36.716-72.157-3.16-122.898z"
            fill="#ff5064" />
          <path
            d="M267.556 261.817c-5.239-.377-18.004 11.504-32.7-4.001-7.581-7.999-8.956-20.564-4.149-30.482a27.114 27.114 0 014.244-6.34c3.161-3.512.621-8.972-4.075-8.451-12.464 1.383-24.289 8.45-31.238 20.861-7.961 14.219-6.491 32.475 3.771 45.134 17.015 20.989 47.721 20.159 63.808.407a36.523 36.523 0 004.228-6.53c2.046-4.024 2.465-10.14-3.889-10.598z"
            fill="#d24150" />
        </svg>
      </li>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.999 511.999">
          <path
            d="M475.567 117.75a8.853 8.853 0 00-1.603-3.776c-1.444-1.953-15.163-18.99-59.725-26.782l-27.283-25.748c-13.064-36.07-42.523-55.63-43.794-56.462a8.74 8.74 0 00-1.716-.866c-1.668-.633-40.717-14.848-77.81 13.53L96.682 61.732c-39.036 4.685-65.987 32.459-67.12 33.644a8.758 8.758 0 00-1.586 2.297c-.746 1.556-17.719 38.066 1.746 79.633l-2.56 101.942c-13.218 29.658-18.649 65.405-18.878 66.94a8.872 8.872 0 00.995 5.556c2.858 5.194 28.407 49.889 62.255 51.82l149.839 76.762c29.076 22.326 62.047 31.032 63.448 31.394.724.185 1.465.28 2.211.28.517 0 1.031-.043 1.543-.138 10.918-1.935 35.433-19.52 54.014-51.199l26.873-21.762c35.498 1.927 66.207-8.486 67.543-8.943a8.753 8.753 0 003.211-1.949c8.84-8.391 20.24-36.321 18.158-72.348l20.434-162.726c3.219-36.196-2.979-73.613-3.241-75.185z"
            fill="#f4d2f7" />
          <path
            d="M429.203 132.253L331.14 48.577C271.275 1.943 163.058 7.262 158.467 7.499a8.838 8.838 0 00-4.345 1.422c-3.706 2.417-90.904 60.086-99.204 134.107l-8.185 165.635c0 .073-.004.142-.004.215-1.875 74.943 66.922 153.606 69.854 156.921a8.845 8.845 0 004.022 2.591c2.483.762 38.643 11.624 80.96 11.624 28.17 0 59.078-4.818 84.568-20.641l103.385-46.76c68.909-29.524 111.746-124.845 113.539-128.887a8.876 8.876 0 00.707-4.504c-.457-4.297-11.862-105.437-74.561-146.969z"
            fill="#f0b8e5" />
          <g fill="#eda0d3">
            <path
              d="M404.558 300.823c-1.444.065-36.136 1.94-99.799 29.861-63.263 27.752-120.591 74.236-123.001 76.202a8.823 8.823 0 00-2.469 10.473c17.227 38.144 89.783 44.277 134.659 44.277 17.491 0 30.782-.936 34.942-1.263a8.825 8.825 0 005.758-2.784c3.694-3.966 90.063-97.701 57.927-152.417-1.659-2.823-4.624-4.392-8.017-4.349zM143.274 93.402C76.511 88.653 12.072 200.395 9.352 205.153a8.84 8.84 0 00-1.008 6.034c1.013 5.318 25.524 130.405 88.654 136.848a8.832 8.832 0 008.004-3.543c1.022-1.392 25.249-34.778 37.627-96.674 12.207-61.027 8.995-142.538 8.852-145.978a8.825 8.825 0 00-8.207-8.438zM403.205 68.784a8.83 8.83 0 00-4.802-4.03c-12.538-4.37-123.241-41.311-152.313 5.84a8.84 8.84 0 00-1.276 5.448c.125 1.388 3.719 34.528 54.014 83.676 49.937 48.802 117.466 60.905 120.315 61.397a8.831 8.831 0 009.163-4.319c28.813-50.42-22.89-144.051-25.101-148.012z" />
          </g>
          <g fill="#e985c0">
            <path
              d="M198.098 54.892a9.007 9.007 0 00-5.926 1.212c-9.677 5.953-93.825 59.474-69.44 106.225a8.836 8.836 0 005.883 4.529c5.499 1.241 40.346 8.818 71.78 8.818 14.965 0 29.162-1.72 39.036-6.654 28.986-14.495 65.077-40.364 66.599-41.458a8.825 8.825 0 003.655-6.53c3.448-47.592-99.803-64.383-111.587-66.142zM181.655 289.859c-61.28-26.873-79.947-19.701-85.141-15.379a8.758 8.758 0 00-1.492 1.603c-21.878 30.235 11.081 114.867 17.908 131.526a8.83 8.83 0 006.525 5.323c13.955 2.646 43.807 7.586 71.835 7.586 28.446 0 55.018-5.09 61.156-22.83a8.796 8.796 0 00.479-3.285c-.136-3.051-4.124-75.094-71.27-104.544zM441.677 249.943c-3.414-9.741-34.778-95.295-83.085-100.472a8.883 8.883 0 00-8.556 4.31c-1.728 2.948-42.191 72.719-30.447 120.876 11.094 45.489 20.154 66.103 20.537 66.957a8.82 8.82 0 006.508 5.103 51.41 51.41 0 009.06.814c53.979 0 84.662-87.874 86.007-91.813a8.776 8.776 0 00-.024-5.775z" />
          </g>
          <g fill="#e168a9">
            <path
              d="M223.885 164.346c-6.374-15.477-16.856-24.951-31.157-28.161-44.251-9.969-108.264 46.876-115.415 53.38a8.828 8.828 0 00-2.824 7.577c1.332 11.129 14.305 109.277 59.117 128.78 5.266 2.293 10.681 3.435 16.232 3.435 10.633 0 21.757-4.203 33.239-12.585a8.838 8.838 0 003.323-4.853l37.851-141.935a8.835 8.835 0 00-.366-5.638z" />
            <path
              d="M367.371 285.049c-3.966-15.266-15.999-25.769-35.756-31.227a8.845 8.845 0 00-5.629.31l-141.93 56.772a8.845 8.845 0 00-5.008 5.159c-7.211 19.684-5.75 36.778 4.345 50.811 24.887 34.593 96.166 36.791 113.846 36.791 2.138 0 3.491-.03 3.887-.043a8.828 8.828 0 005.953-2.539c7.37-7.261 71.68-72.253 60.292-116.034z" />
            <path
              d="M356.656 136.822a8.815 8.815 0 00-5.302-5.741c-8.219-3.155-81.383-30.101-116.777-4.956-12.667 9.004-18.8 23.085-18.219 41.855a8.827 8.827 0 003.233 6.56l104.084 85.158a8.82 8.82 0 007.241 1.84c11.305-2.155 20.115-8.289 26.18-18.231 20.662-33.879.431-103.537-.44-106.485z" />
          </g>
          <path
            d="M329.226 252.839c0 45.547-35.661 82.709-80.59 85.092 19.331-10.063 38.751-31.424 40.957-56.14 1.677-18.095-5.914-38.044-29.747-56.669-4.502-3.531-7.856-7.238-10.239-11.034-12.27-18.801-.883-39.28 15.271-43.782 36.984 9.268 64.348 42.723 64.348 82.533z"
            fill="#d25397" />
          <path
            d="M249.607 214.088c-15.182 22.421-50.226 2.913-57.817 60.288-14.123-9.798-24.627-24.539-29.747-44.223 9.886-35.926 42.899-62.407 82.091-62.407 7.15 0 14.123.883 20.743 2.56-16.153 4.502-27.54 24.981-15.27 43.782z"
            fill="#d75a9d" />
          <path
            d="M289.593 281.791c-2.207 24.716-21.626 46.077-40.957 56.14h-.088c-1.501.088-2.913.088-4.413.088-47.048 0-85.181-38.133-85.181-85.181 0-7.856 1.059-15.447 3.089-22.685 5.12 19.684 15.624 34.425 29.747 44.223 24.715 17.301 60.465 19.508 97.803 7.415z"
            fill="#dc60a3" />
          <path
            d="M289.593 281.791c-37.338 12.093-73.088 9.886-97.803-7.415 7.591-57.375 42.634-37.868 57.817-60.288 2.383 3.796 5.738 7.503 10.239 11.034 23.833 18.625 31.424 38.574 29.747 56.669z"
            fill="#c9478d" />
        </svg>
      </li>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001">
          <path
            d="M454.196 247.538l-47.547 134.717c-1.364 3.866.174 8.153 3.667 10.3 4.123 2.535 8.651 4.529 11.804 4.529 14.839 0 29.219-16.965 43.208-33.473 10.377-12.249 22.143-26.127 31.616-29.916 2.583-1.031 7.032-3.928 7.846-11.766 1.532-14.737-16.509-56.263-39.402-77.352-3.632-3.347-9.549-1.697-11.192 2.961z"
            fill="#ffafc3" />
          <g fill="#ffa5b9">
            <path
              d="M115.623 328.322l-7.864-13.102c-15.439-25.731-44.644-39.621-74.329-35.427l-8.201 1.164a8.838 8.838 0 00-6.48 4.462c-11.012 19.876-6.127 37.323-1.816 52.716 3.259 11.641 6.079 21.695 2.216 31.935a8.946 8.946 0 00.78 7.834c3.005 4.824 42.346 32.982 83.503 36.931a8.828 8.828 0 007.903-3.492c18.256-24.343 19.938-56.929 4.288-83.021zM211.12 28.851C184.5 7.296 138.434 9.873 132.911 11.754c-2.872.983-5.127 3.424-5.824 6.376-1.961 8.303-8.118 17.711-14.068 26.808-10.093 15.43-20.527 31.383-16.633 48.688a8.83 8.83 0 009.006 6.885l22.021-.983c38.044-1.7 71.694-25.192 86.401-60.319 1.533-3.66.389-7.861-2.694-10.358zM496.693 194.789c-14.072-57.751-79.049-81.08-81.808-82.046-4.6-1.599-9.632.81-11.248 5.415-.699 1.992-17.008 49.374-7.808 95.363 9.106 45.528 41.152 89.845 42.511 91.712a8.836 8.836 0 008.934 3.441 8.837 8.837 0 006.821-6.722c2.255-10.106 16.789-42.674 27.403-66.456 16.238-36.403 16.161-36.727 15.195-40.707z" />
          </g>
          <g fill="#ff9baf">
            <path
              d="M139.749 82.685a8.834 8.834 0 00-6.644-3.587c-37.788-2.069-104.106 60.213-111.544 67.313a8.809 8.809 0 00-2.25 3.519c-1.121 3.268-27.109 80.554.392 132.649 10.899 20.652 28.606 34.478 52.621 41.096a8.829 8.829 0 0010.899-6.328L141.19 90.098a8.829 8.829 0 00-1.441-7.413zM373.392 64.637c-40.191-23.178-55.729-57.829-55.871-58.156a8.842 8.842 0 00-6.64-5.204c-.88-.151-89-14.158-118.532 54.354a8.83 8.83 0 003.467 11.007l210.913 130.406a8.837 8.837 0 007.334.901 8.83 8.83 0 005.45-4.992c13.294-31.662 12.527-94.501-46.121-128.316zM399.696 397.244a8.829 8.829 0 00-8.282-8.303l-277.822-16.857c-3.562-.194-6.993 1.78-8.528 5.066-4.881 10.404-7.502 27.843-.22 45.58 9.313 22.691 31.848 40.772 66.986 53.738 17.879 6.597 30.516 12.86 41.665 18.383 13.853 6.864 25.813 12.792 41.527 15.866a69.987 69.987 0 0013.417 1.285c21.359 0 43.963-9.42 64.934-27.308 4.143-3.535 10.106-7.014 16.413-10.696 22.188-12.954 52.57-30.687 49.91-76.754z" />
          </g>
          <path
            d="M442.697 267.967c-4.6-13.977-9.36-28.429-11.201-42.726-3.207-24.942-12.998-43.597-29.102-55.457-24.544-18.091-54.521-13.098-55.785-12.874a8.83 8.83 0 00-6.541 5.091L222.57 424.789a8.827 8.827 0 002.035 10.054c14.943 13.969 35.823 23.92 57.449 23.92 15.658 0 31.719-5.225 46.184-17.927 17.504-15.366 34.59-23.398 51.116-31.167 27.627-12.991 53.72-25.256 70.655-68.016 9.257-23.372 1.208-47.814-7.312-73.686z"
            fill="#ff91a5" />
          <path
            d="M351.507 123.493c-8.83-17.659-17.659-26.489-50.585-36.979-19-6.053-41.454-9.549-64.364-23.031-43.373-25.528-77.928-8.071-94.666 4.6-28.459 21.54-46.076 60.127-39.277 86.012a8.833 8.833 0 008.269 6.584l228.684 7.002c.09.004.181.004.272.004a8.812 8.812 0 004.591-1.289c8.572-5.218 17.108-22.84 7.076-42.903z"
            fill="#ff879b" />
          <path
            d="M259.171 400.469l-94.609-256.29a8.826 8.826 0 00-3.191-4.157c-13.219-9.334-32.473-7.601-52.832 4.747-36.543 22.165-73.462 65.253-66.072 119.999 3.424 25.347 14.827 38.467 25.856 51.151 7.33 8.429 18.702 25.139 24.734 38.234 22.147 48.089 58.984 80.77 96.136 85.292 2.983.366 5.937.543 8.864.543 22.669 0 43.622-10.779 59.73-30.951a8.826 8.826 0 001.384-8.568z"
            fill="#ff7d91" />
          <path
            d="M347.717 157.333c-18.919-17.931-39.393-24.023-57.639-17.168a8.826 8.826 0 00-3.121 2.004l-144.85 144a8.903 8.903 0 00-1.638 2.242c-7.385 14.461-5.829 39.238 3.867 61.661 7.239 16.741 25.403 46.567 65.723 58.26 9.597 2.781 19.566 4.1 29.684 4.1 60.356 0 125.751-46.977 145.699-110.349 17.176-54.544-6.618-115.291-37.725-144.75z"
            fill="#ff7387" />
          <path
            d="M256.07 121.928c-35.862-13.697-77.321-6.342-105.638 18.694-19.643 17.361-48.577 57.415-47.788 96.605.396 19.543 8.532 36.332 23.536 48.55 18.725 15.253 37.509 20.152 53.919 20.152 21.867-.004 39.523-8.705 47.201-13.202a8.775 8.775 0 002.548-1.816l82.55-84.434a8.834 8.834 0 002.458-7.213c-4.324-36.542-25.751-64.73-58.786-77.336z"
            fill="#ff6478" />
          <path
            d="M313.028 194.85c-16.422-20.902-40.772-34.206-66.805-36.504-21.04-1.866-40.863 4.001-54.38 16.06-24.506 21.876-33.478 48.783-24.614 73.829 4.535 12.826 13.559 23.799 24.368 30.732-14.587 1.979-22.939 17.892-16.049 30.901 9.755 18.419 25.927 34.661 46.406 38.521a81.9 81.9 0 0015.185 1.427c26.467 0 59.437-7.984 79.049-32.068 22.98-28.22 36.716-72.157-3.16-122.898z"
            fill="#ff5064" />
          <path
            d="M267.556 261.817c-5.239-.377-18.004 11.504-32.7-4.001-7.581-7.999-8.956-20.564-4.149-30.482a27.114 27.114 0 014.244-6.34c3.161-3.512.621-8.972-4.075-8.451-12.464 1.383-24.289 8.45-31.238 20.861-7.961 14.219-6.491 32.475 3.771 45.134 17.015 20.989 47.721 20.159 63.808.407a36.523 36.523 0 004.228-6.53c2.046-4.024 2.465-10.14-3.889-10.598z"
            fill="#d24150" />
        </svg>
      </li>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.999 511.999">
          <path
            d="M475.567 117.75a8.853 8.853 0 00-1.603-3.776c-1.444-1.953-15.163-18.99-59.725-26.782l-27.283-25.748c-13.064-36.07-42.523-55.63-43.794-56.462a8.74 8.74 0 00-1.716-.866c-1.668-.633-40.717-14.848-77.81 13.53L96.682 61.732c-39.036 4.685-65.987 32.459-67.12 33.644a8.758 8.758 0 00-1.586 2.297c-.746 1.556-17.719 38.066 1.746 79.633l-2.56 101.942c-13.218 29.658-18.649 65.405-18.878 66.94a8.872 8.872 0 00.995 5.556c2.858 5.194 28.407 49.889 62.255 51.82l149.839 76.762c29.076 22.326 62.047 31.032 63.448 31.394.724.185 1.465.28 2.211.28.517 0 1.031-.043 1.543-.138 10.918-1.935 35.433-19.52 54.014-51.199l26.873-21.762c35.498 1.927 66.207-8.486 67.543-8.943a8.753 8.753 0 003.211-1.949c8.84-8.391 20.24-36.321 18.158-72.348l20.434-162.726c3.219-36.196-2.979-73.613-3.241-75.185z"
            fill="#f4d2f7" />
          <path
            d="M429.203 132.253L331.14 48.577C271.275 1.943 163.058 7.262 158.467 7.499a8.838 8.838 0 00-4.345 1.422c-3.706 2.417-90.904 60.086-99.204 134.107l-8.185 165.635c0 .073-.004.142-.004.215-1.875 74.943 66.922 153.606 69.854 156.921a8.845 8.845 0 004.022 2.591c2.483.762 38.643 11.624 80.96 11.624 28.17 0 59.078-4.818 84.568-20.641l103.385-46.76c68.909-29.524 111.746-124.845 113.539-128.887a8.876 8.876 0 00.707-4.504c-.457-4.297-11.862-105.437-74.561-146.969z"
            fill="#f0b8e5" />
          <g fill="#eda0d3">
            <path
              d="M404.558 300.823c-1.444.065-36.136 1.94-99.799 29.861-63.263 27.752-120.591 74.236-123.001 76.202a8.823 8.823 0 00-2.469 10.473c17.227 38.144 89.783 44.277 134.659 44.277 17.491 0 30.782-.936 34.942-1.263a8.825 8.825 0 005.758-2.784c3.694-3.966 90.063-97.701 57.927-152.417-1.659-2.823-4.624-4.392-8.017-4.349zM143.274 93.402C76.511 88.653 12.072 200.395 9.352 205.153a8.84 8.84 0 00-1.008 6.034c1.013 5.318 25.524 130.405 88.654 136.848a8.832 8.832 0 008.004-3.543c1.022-1.392 25.249-34.778 37.627-96.674 12.207-61.027 8.995-142.538 8.852-145.978a8.825 8.825 0 00-8.207-8.438zM403.205 68.784a8.83 8.83 0 00-4.802-4.03c-12.538-4.37-123.241-41.311-152.313 5.84a8.84 8.84 0 00-1.276 5.448c.125 1.388 3.719 34.528 54.014 83.676 49.937 48.802 117.466 60.905 120.315 61.397a8.831 8.831 0 009.163-4.319c28.813-50.42-22.89-144.051-25.101-148.012z" />
          </g>
          <g fill="#e985c0">
            <path
              d="M198.098 54.892a9.007 9.007 0 00-5.926 1.212c-9.677 5.953-93.825 59.474-69.44 106.225a8.836 8.836 0 005.883 4.529c5.499 1.241 40.346 8.818 71.78 8.818 14.965 0 29.162-1.72 39.036-6.654 28.986-14.495 65.077-40.364 66.599-41.458a8.825 8.825 0 003.655-6.53c3.448-47.592-99.803-64.383-111.587-66.142zM181.655 289.859c-61.28-26.873-79.947-19.701-85.141-15.379a8.758 8.758 0 00-1.492 1.603c-21.878 30.235 11.081 114.867 17.908 131.526a8.83 8.83 0 006.525 5.323c13.955 2.646 43.807 7.586 71.835 7.586 28.446 0 55.018-5.09 61.156-22.83a8.796 8.796 0 00.479-3.285c-.136-3.051-4.124-75.094-71.27-104.544zM441.677 249.943c-3.414-9.741-34.778-95.295-83.085-100.472a8.883 8.883 0 00-8.556 4.31c-1.728 2.948-42.191 72.719-30.447 120.876 11.094 45.489 20.154 66.103 20.537 66.957a8.82 8.82 0 006.508 5.103 51.41 51.41 0 009.06.814c53.979 0 84.662-87.874 86.007-91.813a8.776 8.776 0 00-.024-5.775z" />
          </g>
          <g fill="#e168a9">
            <path
              d="M223.885 164.346c-6.374-15.477-16.856-24.951-31.157-28.161-44.251-9.969-108.264 46.876-115.415 53.38a8.828 8.828 0 00-2.824 7.577c1.332 11.129 14.305 109.277 59.117 128.78 5.266 2.293 10.681 3.435 16.232 3.435 10.633 0 21.757-4.203 33.239-12.585a8.838 8.838 0 003.323-4.853l37.851-141.935a8.835 8.835 0 00-.366-5.638z" />
            <path
              d="M367.371 285.049c-3.966-15.266-15.999-25.769-35.756-31.227a8.845 8.845 0 00-5.629.31l-141.93 56.772a8.845 8.845 0 00-5.008 5.159c-7.211 19.684-5.75 36.778 4.345 50.811 24.887 34.593 96.166 36.791 113.846 36.791 2.138 0 3.491-.03 3.887-.043a8.828 8.828 0 005.953-2.539c7.37-7.261 71.68-72.253 60.292-116.034z" />
            <path
              d="M356.656 136.822a8.815 8.815 0 00-5.302-5.741c-8.219-3.155-81.383-30.101-116.777-4.956-12.667 9.004-18.8 23.085-18.219 41.855a8.827 8.827 0 003.233 6.56l104.084 85.158a8.82 8.82 0 007.241 1.84c11.305-2.155 20.115-8.289 26.18-18.231 20.662-33.879.431-103.537-.44-106.485z" />
          </g>
          <path
            d="M329.226 252.839c0 45.547-35.661 82.709-80.59 85.092 19.331-10.063 38.751-31.424 40.957-56.14 1.677-18.095-5.914-38.044-29.747-56.669-4.502-3.531-7.856-7.238-10.239-11.034-12.27-18.801-.883-39.28 15.271-43.782 36.984 9.268 64.348 42.723 64.348 82.533z"
            fill="#d25397" />
          <path
            d="M249.607 214.088c-15.182 22.421-50.226 2.913-57.817 60.288-14.123-9.798-24.627-24.539-29.747-44.223 9.886-35.926 42.899-62.407 82.091-62.407 7.15 0 14.123.883 20.743 2.56-16.153 4.502-27.54 24.981-15.27 43.782z"
            fill="#d75a9d" />
          <path
            d="M289.593 281.791c-2.207 24.716-21.626 46.077-40.957 56.14h-.088c-1.501.088-2.913.088-4.413.088-47.048 0-85.181-38.133-85.181-85.181 0-7.856 1.059-15.447 3.089-22.685 5.12 19.684 15.624 34.425 29.747 44.223 24.715 17.301 60.465 19.508 97.803 7.415z"
            fill="#dc60a3" />
          <path
            d="M289.593 281.791c-37.338 12.093-73.088 9.886-97.803-7.415 7.591-57.375 42.634-37.868 57.817-60.288 2.383 3.796 5.738 7.503 10.239 11.034 23.833 18.625 31.424 38.574 29.747 56.669z"
            fill="#c9478d" />
        </svg>
      </li>
      <li></li>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.999 511.999">
          <path
            d="M475.567 117.75a8.853 8.853 0 00-1.603-3.776c-1.444-1.953-15.163-18.99-59.725-26.782l-27.283-25.748c-13.064-36.07-42.523-55.63-43.794-56.462a8.74 8.74 0 00-1.716-.866c-1.668-.633-40.717-14.848-77.81 13.53L96.682 61.732c-39.036 4.685-65.987 32.459-67.12 33.644a8.758 8.758 0 00-1.586 2.297c-.746 1.556-17.719 38.066 1.746 79.633l-2.56 101.942c-13.218 29.658-18.649 65.405-18.878 66.94a8.872 8.872 0 00.995 5.556c2.858 5.194 28.407 49.889 62.255 51.82l149.839 76.762c29.076 22.326 62.047 31.032 63.448 31.394.724.185 1.465.28 2.211.28.517 0 1.031-.043 1.543-.138 10.918-1.935 35.433-19.52 54.014-51.199l26.873-21.762c35.498 1.927 66.207-8.486 67.543-8.943a8.753 8.753 0 003.211-1.949c8.84-8.391 20.24-36.321 18.158-72.348l20.434-162.726c3.219-36.196-2.979-73.613-3.241-75.185z"
            fill="#f4d2f7" />
          <path
            d="M429.203 132.253L331.14 48.577C271.275 1.943 163.058 7.262 158.467 7.499a8.838 8.838 0 00-4.345 1.422c-3.706 2.417-90.904 60.086-99.204 134.107l-8.185 165.635c0 .073-.004.142-.004.215-1.875 74.943 66.922 153.606 69.854 156.921a8.845 8.845 0 004.022 2.591c2.483.762 38.643 11.624 80.96 11.624 28.17 0 59.078-4.818 84.568-20.641l103.385-46.76c68.909-29.524 111.746-124.845 113.539-128.887a8.876 8.876 0 00.707-4.504c-.457-4.297-11.862-105.437-74.561-146.969z"
            fill="#f0b8e5" />
          <g fill="#eda0d3">
            <path
              d="M404.558 300.823c-1.444.065-36.136 1.94-99.799 29.861-63.263 27.752-120.591 74.236-123.001 76.202a8.823 8.823 0 00-2.469 10.473c17.227 38.144 89.783 44.277 134.659 44.277 17.491 0 30.782-.936 34.942-1.263a8.825 8.825 0 005.758-2.784c3.694-3.966 90.063-97.701 57.927-152.417-1.659-2.823-4.624-4.392-8.017-4.349zM143.274 93.402C76.511 88.653 12.072 200.395 9.352 205.153a8.84 8.84 0 00-1.008 6.034c1.013 5.318 25.524 130.405 88.654 136.848a8.832 8.832 0 008.004-3.543c1.022-1.392 25.249-34.778 37.627-96.674 12.207-61.027 8.995-142.538 8.852-145.978a8.825 8.825 0 00-8.207-8.438zM403.205 68.784a8.83 8.83 0 00-4.802-4.03c-12.538-4.37-123.241-41.311-152.313 5.84a8.84 8.84 0 00-1.276 5.448c.125 1.388 3.719 34.528 54.014 83.676 49.937 48.802 117.466 60.905 120.315 61.397a8.831 8.831 0 009.163-4.319c28.813-50.42-22.89-144.051-25.101-148.012z" />
          </g>
          <g fill="#e985c0">
            <path
              d="M198.098 54.892a9.007 9.007 0 00-5.926 1.212c-9.677 5.953-93.825 59.474-69.44 106.225a8.836 8.836 0 005.883 4.529c5.499 1.241 40.346 8.818 71.78 8.818 14.965 0 29.162-1.72 39.036-6.654 28.986-14.495 65.077-40.364 66.599-41.458a8.825 8.825 0 003.655-6.53c3.448-47.592-99.803-64.383-111.587-66.142zM181.655 289.859c-61.28-26.873-79.947-19.701-85.141-15.379a8.758 8.758 0 00-1.492 1.603c-21.878 30.235 11.081 114.867 17.908 131.526a8.83 8.83 0 006.525 5.323c13.955 2.646 43.807 7.586 71.835 7.586 28.446 0 55.018-5.09 61.156-22.83a8.796 8.796 0 00.479-3.285c-.136-3.051-4.124-75.094-71.27-104.544zM441.677 249.943c-3.414-9.741-34.778-95.295-83.085-100.472a8.883 8.883 0 00-8.556 4.31c-1.728 2.948-42.191 72.719-30.447 120.876 11.094 45.489 20.154 66.103 20.537 66.957a8.82 8.82 0 006.508 5.103 51.41 51.41 0 009.06.814c53.979 0 84.662-87.874 86.007-91.813a8.776 8.776 0 00-.024-5.775z" />
          </g>
          <g fill="#e168a9">
            <path
              d="M223.885 164.346c-6.374-15.477-16.856-24.951-31.157-28.161-44.251-9.969-108.264 46.876-115.415 53.38a8.828 8.828 0 00-2.824 7.577c1.332 11.129 14.305 109.277 59.117 128.78 5.266 2.293 10.681 3.435 16.232 3.435 10.633 0 21.757-4.203 33.239-12.585a8.838 8.838 0 003.323-4.853l37.851-141.935a8.835 8.835 0 00-.366-5.638z" />
            <path
              d="M367.371 285.049c-3.966-15.266-15.999-25.769-35.756-31.227a8.845 8.845 0 00-5.629.31l-141.93 56.772a8.845 8.845 0 00-5.008 5.159c-7.211 19.684-5.75 36.778 4.345 50.811 24.887 34.593 96.166 36.791 113.846 36.791 2.138 0 3.491-.03 3.887-.043a8.828 8.828 0 005.953-2.539c7.37-7.261 71.68-72.253 60.292-116.034z" />
            <path
              d="M356.656 136.822a8.815 8.815 0 00-5.302-5.741c-8.219-3.155-81.383-30.101-116.777-4.956-12.667 9.004-18.8 23.085-18.219 41.855a8.827 8.827 0 003.233 6.56l104.084 85.158a8.82 8.82 0 007.241 1.84c11.305-2.155 20.115-8.289 26.18-18.231 20.662-33.879.431-103.537-.44-106.485z" />
          </g>
          <path
            d="M329.226 252.839c0 45.547-35.661 82.709-80.59 85.092 19.331-10.063 38.751-31.424 40.957-56.14 1.677-18.095-5.914-38.044-29.747-56.669-4.502-3.531-7.856-7.238-10.239-11.034-12.27-18.801-.883-39.28 15.271-43.782 36.984 9.268 64.348 42.723 64.348 82.533z"
            fill="#d25397" />
          <path
            d="M249.607 214.088c-15.182 22.421-50.226 2.913-57.817 60.288-14.123-9.798-24.627-24.539-29.747-44.223 9.886-35.926 42.899-62.407 82.091-62.407 7.15 0 14.123.883 20.743 2.56-16.153 4.502-27.54 24.981-15.27 43.782z"
            fill="#d75a9d" />
          <path
            d="M289.593 281.791c-2.207 24.716-21.626 46.077-40.957 56.14h-.088c-1.501.088-2.913.088-4.413.088-47.048 0-85.181-38.133-85.181-85.181 0-7.856 1.059-15.447 3.089-22.685 5.12 19.684 15.624 34.425 29.747 44.223 24.715 17.301 60.465 19.508 97.803 7.415z"
            fill="#dc60a3" />
          <path
            d="M289.593 281.791c-37.338 12.093-73.088 9.886-97.803-7.415 7.591-57.375 42.634-37.868 57.817-60.288 2.383 3.796 5.738 7.503 10.239 11.034 23.833 18.625 31.424 38.574 29.747 56.669z"
            fill="#c9478d" />
        </svg>
      </li>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001">
          <path
            d="M454.196 247.538l-47.547 134.717c-1.364 3.866.174 8.153 3.667 10.3 4.123 2.535 8.651 4.529 11.804 4.529 14.839 0 29.219-16.965 43.208-33.473 10.377-12.249 22.143-26.127 31.616-29.916 2.583-1.031 7.032-3.928 7.846-11.766 1.532-14.737-16.509-56.263-39.402-77.352-3.632-3.347-9.549-1.697-11.192 2.961z"
            fill="#ffafc3" />
          <g fill="#ffa5b9">
            <path
              d="M115.623 328.322l-7.864-13.102c-15.439-25.731-44.644-39.621-74.329-35.427l-8.201 1.164a8.838 8.838 0 00-6.48 4.462c-11.012 19.876-6.127 37.323-1.816 52.716 3.259 11.641 6.079 21.695 2.216 31.935a8.946 8.946 0 00.78 7.834c3.005 4.824 42.346 32.982 83.503 36.931a8.828 8.828 0 007.903-3.492c18.256-24.343 19.938-56.929 4.288-83.021zM211.12 28.851C184.5 7.296 138.434 9.873 132.911 11.754c-2.872.983-5.127 3.424-5.824 6.376-1.961 8.303-8.118 17.711-14.068 26.808-10.093 15.43-20.527 31.383-16.633 48.688a8.83 8.83 0 009.006 6.885l22.021-.983c38.044-1.7 71.694-25.192 86.401-60.319 1.533-3.66.389-7.861-2.694-10.358zM496.693 194.789c-14.072-57.751-79.049-81.08-81.808-82.046-4.6-1.599-9.632.81-11.248 5.415-.699 1.992-17.008 49.374-7.808 95.363 9.106 45.528 41.152 89.845 42.511 91.712a8.836 8.836 0 008.934 3.441 8.837 8.837 0 006.821-6.722c2.255-10.106 16.789-42.674 27.403-66.456 16.238-36.403 16.161-36.727 15.195-40.707z" />
          </g>
          <g fill="#ff9baf">
            <path
              d="M139.749 82.685a8.834 8.834 0 00-6.644-3.587c-37.788-2.069-104.106 60.213-111.544 67.313a8.809 8.809 0 00-2.25 3.519c-1.121 3.268-27.109 80.554.392 132.649 10.899 20.652 28.606 34.478 52.621 41.096a8.829 8.829 0 0010.899-6.328L141.19 90.098a8.829 8.829 0 00-1.441-7.413zM373.392 64.637c-40.191-23.178-55.729-57.829-55.871-58.156a8.842 8.842 0 00-6.64-5.204c-.88-.151-89-14.158-118.532 54.354a8.83 8.83 0 003.467 11.007l210.913 130.406a8.837 8.837 0 007.334.901 8.83 8.83 0 005.45-4.992c13.294-31.662 12.527-94.501-46.121-128.316zM399.696 397.244a8.829 8.829 0 00-8.282-8.303l-277.822-16.857c-3.562-.194-6.993 1.78-8.528 5.066-4.881 10.404-7.502 27.843-.22 45.58 9.313 22.691 31.848 40.772 66.986 53.738 17.879 6.597 30.516 12.86 41.665 18.383 13.853 6.864 25.813 12.792 41.527 15.866a69.987 69.987 0 0013.417 1.285c21.359 0 43.963-9.42 64.934-27.308 4.143-3.535 10.106-7.014 16.413-10.696 22.188-12.954 52.57-30.687 49.91-76.754z" />
          </g>
          <path
            d="M442.697 267.967c-4.6-13.977-9.36-28.429-11.201-42.726-3.207-24.942-12.998-43.597-29.102-55.457-24.544-18.091-54.521-13.098-55.785-12.874a8.83 8.83 0 00-6.541 5.091L222.57 424.789a8.827 8.827 0 002.035 10.054c14.943 13.969 35.823 23.92 57.449 23.92 15.658 0 31.719-5.225 46.184-17.927 17.504-15.366 34.59-23.398 51.116-31.167 27.627-12.991 53.72-25.256 70.655-68.016 9.257-23.372 1.208-47.814-7.312-73.686z"
            fill="#ff91a5" />
          <path
            d="M351.507 123.493c-8.83-17.659-17.659-26.489-50.585-36.979-19-6.053-41.454-9.549-64.364-23.031-43.373-25.528-77.928-8.071-94.666 4.6-28.459 21.54-46.076 60.127-39.277 86.012a8.833 8.833 0 008.269 6.584l228.684 7.002c.09.004.181.004.272.004a8.812 8.812 0 004.591-1.289c8.572-5.218 17.108-22.84 7.076-42.903z"
            fill="#ff879b" />
          <path
            d="M259.171 400.469l-94.609-256.29a8.826 8.826 0 00-3.191-4.157c-13.219-9.334-32.473-7.601-52.832 4.747-36.543 22.165-73.462 65.253-66.072 119.999 3.424 25.347 14.827 38.467 25.856 51.151 7.33 8.429 18.702 25.139 24.734 38.234 22.147 48.089 58.984 80.77 96.136 85.292 2.983.366 5.937.543 8.864.543 22.669 0 43.622-10.779 59.73-30.951a8.826 8.826 0 001.384-8.568z"
            fill="#ff7d91" />
          <path
            d="M347.717 157.333c-18.919-17.931-39.393-24.023-57.639-17.168a8.826 8.826 0 00-3.121 2.004l-144.85 144a8.903 8.903 0 00-1.638 2.242c-7.385 14.461-5.829 39.238 3.867 61.661 7.239 16.741 25.403 46.567 65.723 58.26 9.597 2.781 19.566 4.1 29.684 4.1 60.356 0 125.751-46.977 145.699-110.349 17.176-54.544-6.618-115.291-37.725-144.75z"
            fill="#ff7387" />
          <path
            d="M256.07 121.928c-35.862-13.697-77.321-6.342-105.638 18.694-19.643 17.361-48.577 57.415-47.788 96.605.396 19.543 8.532 36.332 23.536 48.55 18.725 15.253 37.509 20.152 53.919 20.152 21.867-.004 39.523-8.705 47.201-13.202a8.775 8.775 0 002.548-1.816l82.55-84.434a8.834 8.834 0 002.458-7.213c-4.324-36.542-25.751-64.73-58.786-77.336z"
            fill="#ff6478" />
          <path
            d="M313.028 194.85c-16.422-20.902-40.772-34.206-66.805-36.504-21.04-1.866-40.863 4.001-54.38 16.06-24.506 21.876-33.478 48.783-24.614 73.829 4.535 12.826 13.559 23.799 24.368 30.732-14.587 1.979-22.939 17.892-16.049 30.901 9.755 18.419 25.927 34.661 46.406 38.521a81.9 81.9 0 0015.185 1.427c26.467 0 59.437-7.984 79.049-32.068 22.98-28.22 36.716-72.157-3.16-122.898z"
            fill="#ff5064" />
          <path
            d="M267.556 261.817c-5.239-.377-18.004 11.504-32.7-4.001-7.581-7.999-8.956-20.564-4.149-30.482a27.114 27.114 0 014.244-6.34c3.161-3.512.621-8.972-4.075-8.451-12.464 1.383-24.289 8.45-31.238 20.861-7.961 14.219-6.491 32.475 3.771 45.134 17.015 20.989 47.721 20.159 63.808.407a36.523 36.523 0 004.228-6.53c2.046-4.024 2.465-10.14-3.889-10.598z"
            fill="#d24150" />
        </svg>
      </li>
    </ul>

  </div>
  <header class="header">
    <div class="logo">Monotype.</div>
  </header>
  <footer class="footer">
      <div class="madeby">made with &hearts; by</div>
      <div class="logo emg">
          <span>M</span><span>E.</span>
          <div class="fullname">Monotype Events Committee</div>
        </div>
      </div>
  </footer>
  <div class="context">
    <div class="display">
      <h1>Sign up</h1>
      <form class="form" id="main-form">
        <div class="error" id="form-error"></div>
        <input type="email" class="input-text" id="email" placeholder="Email Id (e.g. abc@monotype.com)" />
        <input type="password" class="input-text" id="password" placeholder="Password" />
        <button type="submit" class="btn" id="form-submit">Submit</button>
        <p class="para">Already have an account</p>
        <a href="/login" class="btn is-white">Sign in</a>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script>
    let formTarget = '/registration';
    $('.form input').on('focus', function(){
      $('#form-error').text('');
    });
    $('#form-submit').on('click', function (e) {
      e.preventDefault();
      const email = $('#email').val();
      const password = $('#password').val();
      if (email.indexOf('@monotype.com') == -1) {
        $('#form-error').text('Enter valid monotype.com email id (e.g. abc@monotype.com)');
        return false;
      } else if (password.length < 6) {
        $('#form-error').text('Password must have at least 6 characters');
        return false;
      }
      $.ajax({
        url: formTarget,
        type: 'POST',
        data: JSON.stringify({ "userEmail": email, "userPassword": password }),
        type: 'POST',
        contentType: 'application/json'
      }).done(function (response) {
        $('#form-error').text(response);
      }).fail(function (response, error) {
        $('#form-error').text(response.responseText);
      });
    });
  </script>
</body>

</html>